@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,700;1,300&family=Nunito:wght@400;700&display=swap');
:root{
    --green:#f21212d0;
    --black:#010715;
    --light-color:#160202;
    --box-shadow:0 .5rem 1.5rem  rgba(0, 0, 0, 0);   
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}
section{
    padding:2rem 9%;

}
section:nth-child(even){
    background: #fffdfd;
}

section{
padding: 2rem 9%;
}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2em solid var(--green);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;

    
    z-index: 0;
    margin-top: 1rem;
}
.btn::before{
    content: center;
    position: relative;
    top: 0; right: 0;
    width: 100%;
    height:100%;
    background: var(--white);

    transition:.3s linear;
    z-index: -1;
    text-align: center;

}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size:  2rem;
    padding-top:1rem;
}
.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom:2rem;
    text-transform:uppercase;
}



header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    font-family: cursive;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:var(--box-shadow);
    
}
header .logo{
    color:var(--green);
    font-size: 3.5rem;
    font-weight:bold;
    font-family: cursive;
    padding:.5rem 2%;
    padding-left:1.2rem ;
    border-radius: 1.5rem;
    box-shadow:5px 7px 10px red;
   
    
}
header .logo i{
    color: var(--black);
}

header .navbar a{
    font-size: 1.8rem;
    border-radius: 2.5rem;
    padding: .5rem  1.5rem;
    color: var(--light-color);
}
header  .navbar  a.active,
header  .navbar  a:hover{
    color: #fffdfd;
    background:var(--green);
}

header  .icons i,
header  .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background:#eee;
}
header  .icons i:hover,
header  .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);  
}
header  .icons  #bars{
    display: none;
}
#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width:100%;
    z-index: 1004;
    background:  rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active{
    top: 0;
}
#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color:#fff;
    font-size:3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::placeholder{
    color:#eee;
}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover{
    color: var(--green);
}
#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size:5rem
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(img.png)no-repeat;
    background-size: cover;
    background-position:center;
}
.home .content{
    flex:1 3 20rem;
    padding-top: 1.5rem;
}

.home .image{
    flex:1 2 40rem;
}
.home .image img{
    width:100%;
    padding: 1.5rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform:translateY(0rem);
    }
    50%{
        transform:translateY(4rem);
    }
}
.home .content h3{
    font-family: 'Sedgwick Ave Display',cursive;
    font-size: 5rem;
    color: #333;
}

.Dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(45rem,1fr));
    gap:4.5rem;
}
.Dishes .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;   
}
.Dishes .box-container .box .fa-heart,
.Dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
.Dishes .box-container .box .fa-heart:hover,
.Dishes .box-container .box .fa-eye:hover{
    background:var(--green);
    color: #fff;
}
.Dishes .box-container .box img{
    height: 17rem;
    margin: 1 rem 0;
}
.Dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}
.Dishes .box-container .box .stars{
   padding: 1rem 0;
}
.Dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.Dishes .box-container .box span{
    color: var(--black);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.About .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.About .row .image{
    flex: 1 1 45rem;
}
.About .row .image img{
   width: 100%;
}
.About .row .content{
    flex: 1 1 45rem;
}
.About .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: 2rem 0;
}
.About .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 5rem 0;
    line-height: 2;
}
.About .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.About .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 15
    rem;
    padding: 1.5rem 1rem;
}
.About .row .content .icons-container .icons i{
    font-size:2.5rem;
    color: var(--green);
}
.About .row .content .icons-container .icons span{
    font-size:1.5rem;
    color: var(--black);
}


.Menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:5.0rem;
}

.Menu .box-container .box img{
    height: 17rem;
    margin: 1 rem 0;
}
.Menu .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}
.Menu .box-container .box .stars{
   padding: 1rem 0;
}
.Menu .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}
.Menu .box-container .box span{
    color: var(--black);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.Order .heading{
    font-size: 30.5;
    font-family: cursive;
    color: darkkhaki;
    font-weight: 900;
}
.Order .row{
    padding:2rem;
    box-shadow: 0.5rem 1 rem rgba(15, 1, 1, 0.89);
    background:rgb(201, 24, 24);
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}
.Order .row .image{
    flex:1 1 30rem;
}
.Order .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
}
.Order .row .image .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.Order .row form{
    flex: 1 1 50rem;
    padding: 1rem;
}
.Order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Order .row form .inputBox input, .Order .row form textarea{
    padding:1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #0d0d0d;
    text-transform: none;
    border-radius: 1.5rem;
    width: 49%;
}
.Order .row form textarea{
    width:100%;
    resize:none;
    height:15rem;
    border-radius: 1.5rem;
}
.Order .row from .btn{
    background:black;
    border-radius: 1.5rem;
}
.Order .row form .btn:hover{
    background: black;
    border-radius: 1.5rem;
}
.container{
    
    background: #fff;
    border-radius: 10px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width:100%;
    height: 100%;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #b4b4b7;
    
  }
  .content .left-side .details{
    margin: 40px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 35px;
    color: red;
    margin-bottom: 10px;
    
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 800;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: black;
    
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 800;
    color:red;
    
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background:red;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background:red;
  }
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }





@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2 rem;

    }
}
@media (max-width:768px){
    header  .icons  #bars{
        display: inline-block;

    }
    header  .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid  rgba(0,0,0,.2);
        border-bottom: .1rem solid  rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header  .navbar a{
        display: block;
        padding: 1.5rem;
        margin:1rem;
        font-size: 2rem;
        background: #eee;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}

@media(max-width:991px){
    html{
        font-size: 50%;
    }
    .Dishes .box-container .box img{
        height: auto;
        width: 100%;
    }

}